@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*    :root {*/
/*        --bg-primary: 255, 255, 255;*/
/*        --bg-secondary: 245, 246, 247;*/
/*        --bg-tertiary: 238, 238, 238;*/

/*        --text-primary: 0, 0, 0;*/
/*        --text-secondary: 56, 63, 74;*/
/*        --text-tertiary: 255, 255, 255;*/
/*    }*/
/*}*/

[x-cloak] {
    display: none;
}
.container {
    @apply max-w-3xl sm:max-w-4xl lg:max-w-6xl 2xl:max-w-[86.23rem] mx-auto px-2 md:px-4 lg:px-6;
}

#single-product .container{
    @apply px-0 md:px-4 lg:px-6;
}

.container-no-padding {
    @apply max-w-7xl mx-auto;
}

.btn {
    @apply min-h-0 inline-flex items-center px-4 py-2 bg-gray-800 gap-2 border border-transparent rounded-md font-semibold text-xs text-white tracking-widest hover:bg-gray-900/20 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150;
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
  }
    .btn:active:hover,
    .btn:active:focus {
      animation: none;
      transform: scale(var(--btn-focus-scale, 0.95));
    }
    /* default btn */
    .btn {
    --tw-border-opacity: 1;
    border-color: hsl(var(--n) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc) / var(--tw-text-opacity));
  }
    .btn:hover, .btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--nf, var(--n)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
  }
    .btn:focus-visible {
        outline: 2px solid hsl(var(--nf));
        outline-offset: 2px;
      }
    /* brand colors */
    .btn-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
  }
    .btn-primary:hover, .btn-primary.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--pf, var(--p)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
  }
    .btn-primary:focus-visible {
        outline: 2px solid hsl(var(--p));
      }
    .btn-secondary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--s) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--sc) / var(--tw-text-opacity));
  }
    .btn-secondary:hover, .btn-secondary.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--sf, var(--s)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
  }
    .btn-secondary:focus-visible {
        outline: 2px solid hsl(var(--s));
      }
    .btn-accent {
    --tw-border-opacity: 1;
    border-color: hsl(var(--a) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--ac) / var(--tw-text-opacity));
  }
    .btn-accent:hover, .btn-accent.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--af, var(--a)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--af, var(--a)) / var(--tw-bg-opacity));
  }
    .btn-accent:focus-visible {
        outline: 2px solid hsl(var(--a));
      }
    /* btn with state colors */
    .btn-info {
    --tw-border-opacity: 1;
    border-color: hsl(var(--in) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--inc, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-info:hover, .btn-info.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--in) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
  }
    .btn-info:focus-visible {
        outline: 2px solid hsl(var(--in));
      }
    .btn-success {
    --tw-border-opacity: 1;
    border-color: hsl(var(--su) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--suc, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-success:hover, .btn-success.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--su) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
  }
    .btn-success:focus-visible {
        outline: 2px solid hsl(var(--su));
      }
    .btn-warning {
    --tw-border-opacity: 1;
    border-color: hsl(var(--wa) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--wac, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-warning:hover, .btn-warning.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--wa) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
  }
    .btn-warning:focus-visible {
        outline: 2px solid hsl(var(--wa));
      }
    .btn-error {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--erc, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-error:hover, .btn-error.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
  }
    .btn-error:focus-visible {
        outline: 2px solid hsl(var(--er));
      }
    /* glass */
    .btn.glass:hover,
      .btn.glass.btn-active {
        --glass-opacity: 25%;
        --glass-border-opacity: 15%;
      }
    .btn.glass:focus-visible {
        outline: 2px solid 0 0 2px currentColor;
      }
    /* btn variants */
    .btn-ghost {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
  }
    .btn-ghost:hover, .btn-ghost.btn-active {
    --tw-border-opacity: 0;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
  }
    .btn-ghost:focus-visible {
        outline: 2px solid 0 0 2px currentColor;
      }
    .btn-link {
    border-color: transparent;
    background-color: transparent;
    --tw-text-opacity: 1;
    color: hsl(var(--p) / var(--tw-text-opacity));
  }
    .btn-link:hover, .btn-link.btn-active {
    border-color: transparent;
    background-color: transparent;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
    .btn-link:focus-visible {
        outline: 2px solid 0 0 2px currentColor;
      }
    /* outline */
    .btn-outline {
    border-color: currentColor;
    background-color: transparent;
    --tw-text-opacity: 1;
    color: hsl(var(--bc) / var(--tw-text-opacity));
  }
    .btn-outline:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--b1) / var(--tw-text-opacity));
  }
    .btn-outline.btn-primary {
    --tw-text-opacity: 1;
    color: hsl(var(--p) / var(--tw-text-opacity));
  }
    .btn-outline.btn-primary:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--pf, var(--p)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
  }
    .btn-outline.btn-secondary {
    --tw-text-opacity: 1;
    color: hsl(var(--s) / var(--tw-text-opacity));
  }
    .btn-outline.btn-secondary:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--sf, var(--s)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--sc) / var(--tw-text-opacity));
  }
    .btn-outline.btn-accent {
    --tw-text-opacity: 1;
    color: hsl(var(--a) / var(--tw-text-opacity));
  }
    .btn-outline.btn-accent:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--af, var(--a)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--af, var(--a)) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--ac) / var(--tw-text-opacity));
  }
    .btn-outline.btn-success {
    --tw-text-opacity: 1;
    color: hsl(var(--su) / var(--tw-text-opacity));
  }
    .btn-outline.btn-success:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--su) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--suc, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-outline.btn-info {
    --tw-text-opacity: 1;
    color: hsl(var(--in) / var(--tw-text-opacity));
  }
    .btn-outline.btn-info:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--in) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--inc, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-outline.btn-warning {
    --tw-text-opacity: 1;
    color: hsl(var(--wa) / var(--tw-text-opacity));
  }
    .btn-outline.btn-warning:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--wa) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--wac, var(--nc)) / var(--tw-text-opacity));
  }
    .btn-outline.btn-error {
    --tw-text-opacity: 1;
    color: hsl(var(--er) / var(--tw-text-opacity));
  }
    .btn-outline.btn-error:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--erc, var(--nc)) / var(--tw-text-opacity));
  }
    /* disabled */
    .btn-disabled, .btn-disabled:hover, .btn[disabled], .btn[disabled]:hover {
    --tw-border-opacity: 0;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
  }
    /* loading */
    .btn.loading.btn-square:before, .btn.loading.btn-circle:before {
    margin-right: 0px;
  }
    .btn.loading.btn-xl:before, .btn.loading.btn-lg:before {
    height: 1.25rem;
    width: 1.25rem;
  }
    .btn.loading.btn-sm:before, .btn.loading.btn-xs:before {
    height: 0.75rem;
    width: 0.75rem;
  }
  /* group */
  .btn-group > input[type="radio"]:checked.btn, .btn-group > .btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
  }
  .btn-group > input[type="radio"]:checked.btn:focus-visible, .btn-group > .btn-active:focus-visible {
        outline: 2px solid hsl(var(--p));
      }
  .btn-group > .btn:not(:first-of-type) {
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .btn-group > .btn:not(:last-of-type) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @keyframes button-pop {
    0% {
      transform: scale(var(--btn-focus-scale, 0.95));
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }


/*Card*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden
}
.card:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column
}
.card-body :where(p) {
    flex-grow: 1
}
.card-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem
}
.card figure {
    display: flex;
    align-items: center;
    justify-content: center
}
.card.image-full {
    display: grid
}
.card.image-full:before {
    position: relative;
    content: ""
}
.card.image-full:before, .card.image-full > * {
    grid-column-start: 1;
    grid-row-start: 1
}
.card.image-full > figure img {
    height: 100%;
    object-fit: cover
}
.card.image-full > .card-body {
    position: relative
}

/*Divider*/
.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
.divider:before,
.divider:after {
    content: "";
    flex-grow: 1;
    height: 0.125rem;
    width: 100%;
}

.theme-active{
    @apply bg-white text-primary rounded-full;
}

.dropdown-menu.float-left{
    inset: auto 0px 0px auto !important;
}



:root {
    --color-default: #fff;
}
@media (prefers-color-scheme: dark){
    :root{
        --color-default: #252b30;
    }
}
[data-theme='dark'] {
    --color-default: #252b30;
}
[data-theme='black'] {
    --color-default: #000000;
}
[data-theme='🌸'] {
    --color-default: #ffabc8;
}
[data-theme='🐬'] {
    --color-default: #7ec6ff;
}
[data-theme='🐤'] {
    --color-default: #ffd65a;
}
body {
    background-color: var(--color-default);
}
