@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*    :root {*/
/*        --bg-primary: 255, 255, 255;*/
/*        --bg-secondary: 245, 246, 247;*/
/*        --bg-tertiary: 238, 238, 238;*/

/*        --text-primary: 0, 0, 0;*/
/*        --text-secondary: 56, 63, 74;*/
/*        --text-tertiary: 255, 255, 255;*/
/*    }*/
/*}*/

[x-cloak] {
    display: none;
}
.container {
    @apply max-w-3xl sm:max-w-4xl lg:max-w-6xl 2xl:max-w-[86.23rem] mx-auto px-2 md:px-4 lg:px-6;
}

#single-product .container{
    @apply px-0 md:px-4 lg:px-6;
}

.container-no-padding {
    @apply max-w-7xl mx-auto;
}

.theme-active{
    @apply bg-white text-primary rounded-full;
}

.dropdown-menu.float-left{
    inset: auto 0px 0px auto !important;
}



:root {
    --color-default: #fff;
}
@media (prefers-color-scheme: dark){
    :root{
        --color-default: #252b30;
    }
}
[data-theme='dark'] {
    --color-default: #252b30;
}
[data-theme='black'] {
    --color-default: #000000;
}
[data-theme='🌸'] {
    --color-default: #ffabc8;
}
[data-theme='🐬'] {
    --color-default: #7ec6ff;
}
[data-theme='🐤'] {
    --color-default: #ffd65a;
}
body {
    background-color: var(--color-default);
}
